extends ../node_modules/jade-bootstrap/layouts/navbar-fixed-force

append body

  +navbar-fixed("Force.com Sample","navbar", "inverse")
    +nav_item("#","active") Accounts...
    +nav_item("#") Contacts
    +nav_item("#") Opportunities
  
  .container
    div(style='padding-bottom:100px;')
 
    div
      table.table.table-striped.table-hover.span12
        thead
          tr 
            th Id 
            th Name
            th Type
            th CreatedDate
        tbody
          - each r in records
            
            tr
             form.form-signin(action="/delete-account", method="post")
              td
                 input.input-block-level(type="text", 
                                         name="id", 
                                         value=r.get('id'), readonly
                                         )
              td= r.get('Name')
              td= r.get('Type')
              td= r.get('CreatedDate')
              td
                button.btn.btn-large.btn-primary(type="submit", style='margin:1px;') Del


 

       

